muhammarajs
build
.DS_Store
packages/native/tests/output
packages/native/tests/**/output
packages/native/binding
packages/native/build/
packages/native/src
node_modules
src/deps/openssl/
aws.json
etc
recipe-docs/
site/
.docs-venv/
docs/.staging/

#all the binaries
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lib
*.pdb
*.ilk
BuildLog.htm
*.obj
*.idb

_.swp


# Ignore build logs#
########################
*.tlog

#Visual Studio unwanted#
########################
*.user
*.ncb
*.suo
*.pch
*.dep
*.manifest
*.manifest.res
*.sdf
*.log
*.tlog
*.lastbuildstate
*.ipch
*.rc
*.opensdf
*.cache
*.sln
*.vcxproj*

#XCode unwanted#
################
xcode/Build
xcode/DerivedData

#Visual code unwanted
.vscode
packages/wasm/build/
packages/wasm/dist/
*.tgz
