muhammarajs
build
.DS_Store
tests/output
tests/**/output
binding
node_modules
aws.json
etc
recipe-docs/

#all the binaries
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lib
*.pdb
*.ilk
BuildLog.htm
*.obj
*.idb

_.swp


# Ignore build logs#
########################
*.tlog

#Visual Studio unwanted#
########################
*.user
*.ncb
*.suo
*.pch
*.dep
*.manifest
*.manifest.res
*.sdf
*.log
*.tlog
*.lastbuildstate
*.ipch
*.rc
*.opensdf
*.cache
*.sln
*.vcxproj*

#XCode unwanted#
################
xcode/Build
xcode/DerivedData

#Visual code unwanted
.vscode
