name: Build

on:
  push:
    tags:
      - '1.*'
    branches:
  pull_request:
  workflow_dispatch:

jobs:
  build-musl:
    strategy:
      fail-fast: true
      matrix:
        node: [6.14.1, 7.10.1, 8.11.0, 9.11.1, 10.8.0, 11.2.0, 12.0.0, 13.14.0, 14.0.0, 15.7.0]
    runs-on: ubuntu-latest
    container:
      image: node:${{ matrix.node }}-alpine
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - uses: actions/checkout@v2
      - run: apk update
      - run: apk add --no-cache make gcc jq g++ python tar
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm config set unsafe-perm true
      - run: npm -g install npm@^6.14.5
      - run: node --version
      - run: npm --version
      - run: npm install node-gyp@5.1.1 --global
      - run: npm install --build-from-source
        env:
          EXTRA_NODE_PRE_GYP_FLAGS: --target_libc=musl
      - run: npm run test
      - run: ./node_modules/.bin/node-pre-gyp package testpackage --target_libc=musl
      - uses: actions/upload-artifact@v2
        with:
          path: build/stage/julianhille/MuhammaraJS/releases/download/**/*.gz
          name: bindings
          if-no-files-found: error
  build-electron:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
        architecture: [x64, ia32]
        electron: [11.3.0, 11.2.0, 11.1.0, 11.0.0, 10.1.3, 10.0.0, 9.2.0, 9.1.2, 9.0.0, 8.5.2, 8.4.1, 8.3.4, 8.2.5, 8.1.1, 8.0.3, 7.3.3, 7.2.4, 7.1.14, 6.1.10, 6.0.2, 5.0.9, 4.2.8, 4.1.5, 4.0.8, 3.0.9, 2.0.7]
        include:
          - electron_mocha_version: ^10
          - electron_mocha_version: ^8
            electron: 3.0.9
          - electron_mocha_version: ^8
            electron: 2.0.7
          - architecture: ia32
            architecture_node: x86
          - architecture: x64
            architecture_node: x64
          - electron: 11.3.0
            node: 12
          - electron: 11.2.0
            node: 12
          - electron: 11.1.0
            node: 12
          - electron: 11.0.0
            node: 12
          - electron: 10.1.3
            node: 12
          - electron: 10.0.0
            node: 12
          - electron: 9.2.0
            node: 12
          - electron: 9.1.2
            node: 12
          - electron: 9.0.0
            node: 12
          - electron: 8.5.2
            node: 12
          - electron: 8.4.1
            node: 12
          - electron: 8.3.4
            node: 12
          - electron: 8.2.5
            node: 12
          - electron: 8.1.1
            node: 12
          - electron: 8.0.3
            node: 12
          - electron: 7.3.3
            node: 12
          - electron: 7.2.4
            node: 12
          - electron: 7.1.14
            node: 12
          - electron: 6.1.10
            node: 12
          - electron: 6.0.2
            node: 12
          - electron: 5.0.9
            node: 10
          - electron: 4.2.8
            node: 10
          - electron: 4.1.5
            node: 10
          - electron: 4.0.8
            node: 10
          - electron: 3.0.9
            node: 8
          - electron: 2.0.7
            node: 7.0.0
        exclude:
          - os: macos-10.15
            architecture: ia32
          - os: ubuntu-18.04
            architecture: ia32
          - os: ubuntu-18.04
            electron: 2.0.7
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: xcversion select 11.2.1 --symlink
        if: ${{ runner.os == 'macOS' }}
      - run: xcversion install-cli-tools
        if: ${{ runner.os == 'macOS' }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture_node }}
      - run: npm -g install npm@6.14.5
      - run: node --version
      - run: npm --version
      - run: npm install node-gyp@5.1.1 --global
      - run: npm config set msbuild_path "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe"
        if: ${{ runner.os == 'Windows' }}
      - run: npm install --build-from-source
        env:
          npm_config_arch: ${{ matrix.architecture }}
          npm_config_target_arch: ${{ matrix.architecture }}
          npm_config_target: ${{ matrix.electron }}
          npm_config_disturl: https://atom.io/download/electron
          npm_config_runtime: electron
      - run: npm install -g electron@${{ matrix.electron }} electron-mocha@${{ matrix.electron_mocha_version }}
      - name: Run test
        uses: GabrielBB/xvfb-action@v1
        with:
          working-directory: ./ #optional
          run: npm run test:electron
      - run: ./node_modules/.bin/node-pre-gyp package testpackage
        env:
          npm_config_runtime: electron
          npm_config_target: ${{ matrix.electron }}
      - uses: actions/upload-artifact@v2
        with:
          path: build/stage/julianhille/MuhammaraJS/releases/download/**/*.gz
          name: bindings
          if-no-files-found: error
  build-node:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
        node: [6.14.1, 7.10.1, 8.11.0, 9.11.1, 10.8.0, 11.2.0, 12.0.0, 13.14.0, 14.0.0, 15.7.0]
        architecture: [x64, ia32]
        include:
          - architecture: ia32
            architecture_node: x86
          - architecture: x64
            architecture_node: x64
        exclude:
          - os: macos-10.15
            architecture: ia32
          - os: ubuntu-18.04
            architecture: ia32
          - os: macos-10.15
            node: 6.14.1
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: xcversion select 11.2.1 --symlink
        if: ${{ runner.os == 'macOS' }}
      - run: xcversion install-cli-tools
        if: ${{ runner.os == 'macOS' }}
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture_node }}
      - run: npm -g install npm@^6.14.5
      - run: node --version
      - run: npm --version
      - run: npm install node-gyp@5.1.1 --global
      - run: npm config set msbuild_path "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe"
        if: ${{ runner.os == 'Windows' }}
      - run: npm install --build-from-source
        env:
          npm_config_arch: ${{ matrix.architecture }}
          npm_config_target_arch: ${{ matrix.architecture }}
      - run: ./node_modules/.bin/node-pre-gyp package testpackage
      - uses: actions/upload-artifact@v2
        with:
          path: build/stage/julianhille/MuhammaraJS/releases/download/**/*.gz
          name: bindings
          if-no-files-found: error
  publish:
    needs: [build-musl, build-electron, build-node]
    runs-on: ubuntu-latest
    if:  startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - uses: actions/download-artifact@v2
        with:
          name: bindings
          path: builds/bindings
        id: upload-release-asset
      - run: ls -lah builds/bindings/
      - name: Parse semver string
        id: semver_parser
        uses: booxmedialtd/ws-action-parse-semver@v1
        with:
          input_string: ${{ github.ref }}
          version_extractor_regex: 'tags\/(.*)$'
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.semver_parser.outputs.fullversion }}
          release_name: ${{ steps.semver_parser.outputs.fullversion }}
          draft: false
          prerelease: steps.semver_parser.outputs.prerelease != []
      - uses: AButler/upload-release-assets@v2.0
        with:
          files: 'builds/bindings/**/*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ steps.semver_parser.outputs.fullversion }}
      - run: npm install
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
